@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
.root {
  width: 100%;
  height: 100vh;
  @include flex();
  flex-direction: column;
}

.toggle {
  @include flex();
  width: 15rem;
  justify-content: space-between;
  margin-top: 30px;
  font-family: $font-p;
  font-weight: 700;
}
.container {
  height: 50px;
  @include flex();
  justify-content: flex-start;
  padding-left: 16px;
  width: 5rem;
}
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.3);
  cursor: pointer;
  span {
    color: $white;
  }
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  z-index: 1;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
