@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
@import "styles/global";
.root {
  width: 100%;
  @include flex();
  background-color: $theme-bg;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @include light {
    background-color: $white;
  }
  h1 {
    @include Heading();
    color: $white;
    font-family: $font-p;
    font-size: 1.5rem;
    line-height: 50px;
    padding: 2% 0%;
  }

  .btn-container {
    width: 100%;
    margin-bottom: 20px;
    @include flex();
    justify-content: space-between;
    .icon {
      font-size: 20px;
    }
    .filter {
      @include flex();
      column-gap: 15px;
    }
  }

  .card-container {
    @include flex();
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    width: 100%;

    .product-list {
      width: 30%;
    }
  }
  .form {
    .container {
      .column {
        @include flex();
        justify-content: space-between;
        align-items: flex-start;
        width: 45%;
        height: 400px;
        column-gap: 7%;
        &:first-of-type {
          flex-wrap: wrap;
          row-gap: 3%;
        }
        &:last-of-type {
          .box {
            height: auto;
          }
        }
        .box {
          width: 100%;
          height: 90px;
          &:nth-of-type(2),
          &:nth-of-type(3) {
            width: 40%;
          }
          .errMess {
            bottom: 3px;
          }
        }
      }
    }
  }
}
.upload-btn {
  background-color: $button-bg;
  color: $light-second;
  @include light {
    background-color: $light-second;
    color: $light-white;
    &:hover {
      background-color: $light-primary;
      color: $light-white;
    }
  }
}

.container-Img {
  @include flex();
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  row-gap: 10px;
  img {
    width: 30%;
    &:first-of-type {
      width: 100%;
    }
  }
}
