@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
@import "styles/global";
@import "styles/default";

.root {
  @include boxShadow();
  @include flex();
  @include Transition2();
  justify-content: space-evenly;
  padding: 30px 25px;
  background-color: $light-white;
  border-radius: 10px;
  font-family: $font-p;
  width: 20%;
  max-width: 230px;
  cursor: pointer;

  @include dark {
    background-color: $button-bg;
    box-shadow: unset;
  }
  &:hover {
    background-color: $black-fade;
    @include dark {
      &:nth-child(2n + 1) {
        background-color: #ff7551;
      }
      &:nth-child(2n) {
        background: #32a7e2;
      }
      &:nth-child(2n + 3) {
        background: #6c5ecf;
      }
    }
    .icon {
      svg {
        fill: $light-white;
      }
    }
    .data {
      color: $light-white;
    }
  }

  .icon {
    font-size: 30px;

    svg {
      @include dark {
        fill: $light-white;
      }
    }
  }
  .data {
    @include flex();
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    align-items: flex-start;
    @include dark {
      color: $light-white;
    }
    .total {
      font-family: $font-number;
      font-weight: 600;
      font-size: 1.4rem;
    }
    .title {
      font-size: 0.7rem;
      font-weight: 700;
    }
  }
}
