@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
.root {
  width: 100%;
  @include flex();
  background-color: $theme-bg;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @include light {
    background-color: $white;
  }
  h1 {
    @include Heading();
    color: $white;
    font-family: $font-p;
    font-size: 1.5rem;
    line-height: 50px;
    padding: 2% 0%;
  }

  .btn-container {
    margin-bottom: 20px;
    .icon {
      font-size: 20px;
    }
  }

  .card-container {
    @include flex();
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 15px;
  }
}

.form {
  @include formModal();
}
