@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";

.upload-btn {
  background-color: $button-bg;
  color: $light-second;
  @include light {
    background-color: $light-second;
    color: $light-component;
    &:hover {
      background-color: $light-primary;
      color: $light-component;
    }
  }
}

.container-Img {
  @include flex();
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  row-gap: 10px;
  img {
    width: 30%;
    &:first-of-type {
      width: 100%;
    }
  }
}
