@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
@import "styles/global";

.rc-md-editor {
  width: 100%;
  border: 0px;
  background: $button-bg;
  @include light {
    background: $light-white;

    .rc-md-navigation {
      background: $light-white;
    }
    .editor-container .sec-md .input {
      background: $light-white;
      color: $light-second;
    }
    .custom-html-style {
      color: $light-second;
    }
  }

  .rc-md-navigation {
    background: $button-bg;
    border: 0px;
  }
  .editor-container .sec-md .input {
    background: $button-bg;
    color: $light-white;
    border: 0px;
  }

  .custom-html-style {
    color: $light-white;
  }
}
