@import "variables";

@mixin Heading() {
  font-family: $font-head;
  color: $black-fade;
  line-height: 1.4;
  @include light {
    color: $light-second;
  }
}

@mixin Text() {
  font-family: $font-p;
  color: $black-p;
  line-height: 1.4;
  @include dark {
    color: $light-white;
  }
}

@mixin nonBreak() {
  width: 100%;
  max-width: 1550px;
}
@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexCol() {
  @include flex();
  flex-direction: column;
}
@mixin padding-2() {
  padding: 2%;
}
@mixin padding-2-5() {
  padding: 2% 5%;
}
@mixin padding-x() {
  padding: 5%;
}

@mixin boxShadow() {
  box-shadow: 17px 17px 86px 0px rgba($black, 0.1);
}
@mixin shadowColor() {
  box-shadow: 0px 0px 5px rgb(#000000, 0.2);
}

@mixin boxShadowLight() {
  box-shadow: 0px 16px 40px rgba($black-divider, 0.2);
}
@mixin boxShadowBtn() {
  box-shadow: 0px 0px 10px rgba($light-second, 0.1);
}
@mixin Transition3() {
  transition: all 0.3s linear;
}
@mixin Transition2() {
  transition: all 0.2s linear;
}

@mixin scaleUpHover() {
  @include Transition3();
  &:hover {
    transform: scale(1.2);
  }
}

// DARK MODE

@mixin light() {
  @media (prefers-color-scheme: light) {
    @at-root #{selector-nest(':root:not([data-theme=light]):not([data-theme=dark])', &)} {
      @content;
    }
  }
  @at-root #{selector-nest(':root[data-theme=light]', &)} {
    @content;
  }
}

@mixin dark() {
  @media (prefers-color-scheme: dark) {
    @at-root #{selector-nest(':root:not([data-theme=light]):not([data-theme=dark])', &)} {
      @content;
    }
  }
  @at-root #{selector-nest(':root[data-theme=dark]', &)} {
    @content;
  }
}

@mixin formModal {
  position: relative;
  z-index: 1;
  text-align: center;
  .container {
    column-gap: 7%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .box {
    width: 45%;
    height: 80px;
    position: relative;
    @include flex();
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6),
    &:last-of-type {
      p {
        text-align: left;
        padding: 0 0 0 15px;
        font-size: 0.8rem;
        font-family: $font-p;
        margin-bottom: 10px;
      }
      .container-checkbox {
        @include flex();
        height: 50px;
      }
    }

    .img-product {
      margin: 0 auto;
      width: 200px;
      height: 200px;
    }

    .label {
      text-align: left;
      padding: 0 0 0 15px;
      font-size: 0.8rem;
      font-family: $font-p;
      margin-bottom: 10px;
    }

    .input,
    .select {
      width: 100%;
    }
    .input {
      font-family: $font-p;
      outline: 0;
      background: $button-bg;
      border: 0;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      font-family: $font-number;
      color: $light-white;

      @include light {
        background-color: $light-white;
        color: $light-second;
        @include boxShadow();
        &::placeholder {
          color: rgba($black, 0.3);
        }
      }
    }

    input[type="color"] {
      height: 47px;
      padding: 8px;
      cursor: pointer;
    }
    .select {
      font-family: $font-p;
      outline: 0;
      background: $white;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      appearance: none;
    }
    .checkbox {
      background-color: $button-bg;
      color: $body-color;
      height: fit-content;
      cursor: pointer;
      margin-right: 10px;
      position: relative;

      &:hover {
        transform: scale(1.1);
        @include Transition2();
        color: $black-p;
        background-color: $white;
      }

      @include light {
        background-color: transparent;

        &:hover {
          transform: scale(1.1);
          @include Transition2();
          color: $light-white;
          background-color: $light-primary;
          span {
            p {
              color: $light-primary;
            }
          }
        }
      }

      input {
        display: none;
      }

      span {
        @include flex();
        position: relative;
        z-index: 0;
        padding: 15px;
        p {
          margin-bottom: 0;
          padding: 0;
          z-index: 4;
        }
        @include light {
          background-color: $light-white;
          @include boxShadow();
        }
      }

      input[type="radio"] {
        @include light {
          &:checked + span:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($light-primary, 0.9);
            width: 100%;
            height: 100%;
            z-index: 3;
          }
          p {
          }

          &:checked + span {
            p {
              color: $light-white;
            }
          }
        }
      }
    }

    .errMess {
      padding: 0 0 0 15px;
      font-size: 0.6rem;
      position: absolute;
      bottom: 13px;
      right: 0;
      text-align: left;
      color: rgb(176, 0, 0);
    }
  }
  .button-container {
    @include flex();
    justify-content: flex-start;
    column-gap: 7%;
    button {
      font-family: $font-p;
      text-transform: uppercase;
      outline: 0;
      background: $black;
      width: 45%;
      border: 0;
      padding: 15px;
      color: $white;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      &:active,
      &:focus {
        background: $black-fade;
      }
      &:first-of-type {
        width: 45%;
        @include Transition3();

        @include light {
          background: transparent;
          border: 1px solid rgba($black, 0.3);
          color: rgba($black, 0.3);
          &:hover {
            transform: scale(1.1);
            background: $warning;
            border: 1px solid $warning;
            color: $light-white;
          }
        }
      }
      &[type="submit"] {
        width: 45%;
        @include light {
          background: $black;
          border: 1px solid $black;
          color: $light-white;
          @include Transition3(); 

          &:hover {

            transform: scale(1.1);
            background: $light-primary;
            border: 1px solid $light-primary;
            color: $light-white;
          }
        }
      }
    }
  }

  .message {
    margin: 0 0 15px 0;
    color: $light-primary;
    font-size: 12px;

    a {
      color: $black-p;
      text-decoration: none;
    }
  }
  .register-form {
    display: none;
  }
}
