@import "variables";

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin Heading() {
  font-family: $font-head;
  color: $black-head;
  line-height: 1.6;
}

@mixin Text() {
  font-family: $font-p;
  color: $black-p;
  line-height: 1.4;
}

@mixin rightArrow {
  position: relative;
  width: 60%;
  border-top: 2px solid $white;
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    top: -4px;
    right: 0;
    transform: rotate(-45deg);
  }
}
@mixin leftArrow {
  position: relative;
  width: 60%;
  border-top: 2px solid $white;
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    top: -4px;
    left: 0;
    transform: rotate(135deg);
  }
}

@mixin downArrow {
  position: relative;
  width: 60%;
  border-top: 2px solid $white;
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    top: -4px;
    left: 0;
    transform: rotate(45deg);
  }
}
