@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";

.root {
  background-color: $button-bg;
  font-family: $font-p;
  font-weight: 700;
  color: $body-color;
  border-radius: 8px;
  padding: 13px;
  appearance: none;
  cursor: pointer;
  @include Transition2();
  margin-right: 15px;
  @include light {
    @include boxShadowBtn();
    background: $light-white;
    color: $light-second;
  }
  &:hover {
    transform: scale(1.1);
    background-color: $white;
    color: $black-fade;
    @include light {
      background: $light-primary;
      color: $light-white;
    }
  }
}
