@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
@import "styles/global";

.root {
  @include boxShadowBtn();
  background: $light-white;
  color: $light-second;
  font-family: $font-p;
  font-weight: 700;
  border-radius: 8px;
  padding: 13px;
  appearance: none;
  cursor: pointer;
  @include Transition2();

  @include dark {
    color: $light-white;
    background-color: $button-bg;
  }
  &:hover {
    transform: scale(1.1);
    background: $light-primary;
    color: $light-white;
    @include dark {
      background-color: $light-primary;
    }
  }
}
.sub {
  background-color: transparent;
  box-shadow: unset;
  color: $button-bg;
  border: 1px solid rgba($black-fade, 0.2);
  @include dark {
    background-color: transparent;
    border: 1px solid rgba($light-white, 0.1);
  }
  &:hover {
    background-color: $warning;
    @include dark {
      background-color: $warning;
    }
  }
}
