@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
@import "styles/global";
.root {
  @include flex();
  column-gap: 15px;
  .btn {
    border-radius: 10px;
    .icon {
      fill: $black-fade;
      @include dark {
        fill: $body-color;
      }
    }

    &:hover {
      @include dark {
        background-color: $light-primary;
      }
      .icon {
        fill: $white;
        @include dark {
          fill: $white;
        }
      }
    }
  }
}
