@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
.root {
  width: 100%;
  height: 100vh;
  @include flex();
  background-color: $theme-bg;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @include light {
    background-color: $ligth-theme-bg;
  }
  h1 {
    @include Heading();
    color: $white;
    font-family: $font-p;
    font-size: 1.5rem;
    line-height: 50px;
    padding: 2% 0%;
  }

  .btn-container {
    margin-bottom: 20px;
    .icon {
      font-size: 20px;
    }
  }

  .card-container {
    width: 100%;
    .customer-list {
      li {
        width: 20%;
      }
    }
  }
  .form {
    @include formModal();
  }
}
