@import "../../../styles/variables";
@import "../../../styles/responsive";
@import "../../../styles/mixin";
@import "../../../styles/default";
.root {
  width: 100%;
  height: 100vh;
  @include flex();
  background-color: $theme-bg;
  align-items: baseline;
}

.summary {
  width: 100%;
  @include flex();
  justify-content: space-between;
}
