@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
.root {
  width: 100%;
  @include flex();
  align-items: baseline;

}

.summary {
  width: 100%;
  max-width: 70rem;
  @include flex();
  justify-content: space-between;
}
