@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
.root {
  width: 100%;
  height: 100vh;
  @include flex();
  background-color: $theme-bg;
  align-items: baseline;
  @include light {
    background-color: $ligth-theme-bg;
  }
}

.summary {
  width: 100%;
  max-width: 70rem;
  @include flex();
  justify-content: space-between;
}
