@import "../../styles/variables";
@import "../../styles/responsive";
@import "../../styles/mixin";

.root {
  width: 22%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-duration: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: $font-p;
  background-color: $side-bar;
  border-radius: 20px;
  @include light {
    background-color: $ligth-theme-bg;
  }
  @include desktop {
    width: 27%;
  }

  .logo {
    display: none;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    // color: #fff;
    align-items: center;
    border-radius: 50%;
    justify-content: center;

    &-expand {
      text-decoration: none;
      color: $white;
      font-size: 19px;
      font-weight: 600;
      line-height: 34px;
      position: sticky;
      top: 0;
      @include light {
        color: $light-second;
      }
      &:before {
        content: "";
        position: absolute;
        top: -30px;
        left: 0;
        width: 200px;
        height: 70px;
        z-index: -1;
      }
    }
  }

  &.collapse {
    width: 90px;
    border-right: 1px solid $border-color;
    .logo-expand,
    .side-title {
      display: none;
    }
    .logo {
      display: flex;
    }
    .side-wrapper {
      width: 30px;
    }
    .side-menu svg {
      margin-right: 30px;
    }
  }
}

@keyframes bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.wrapper {
  border-bottom: 1px solid $border-color;
  padding: 36px 0;
  width: 90%;
  & + & {
    border-bottom: none;
  }

  .side-menu {
    display: flex;
    flex-direction: column;
    li {
      &:hover {
        transition: 0.2s all ease;
        .link {
          color: $white;
          font-weight: 600;
          @include light {
            color: $light-primary;
          }
          .icon {
            @include light {
              background: $light-primary;
              color: $light-component;
            }
          }
        }

        @include dark {
          &:nth-child(2n + 1) {
            .icon {
              background: #ff7551;
            }
          }
          &:nth-child(2n) {
            .icon {
              background: #32a7e2;
            }
          }
          &:nth-child(2n + 3) {
            .icon {
              background: #6c5ecf;
            }
          }
        }
      }
      .link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $body-color;
        @include light {
          color: $light-second;
        }
        &.activated {
          color: $white;
          font-weight: 600;
          @include light {
            color: $light-primary;
          }
          .icon {
            background: #ff7551;
            @include light {
              box-shadow: 0px 0px 15px rgba($light-primary, 0.2);
              color: $light-component;
              background-color: $light-primary;
            }
          }
        }

        .icon {
          padding: 8px;
          border-radius: 10px;
          background-color: $button-bg;
          flex-shrink: 0;
          margin-right: 16px;
          @include light {
            background-color: $light-component;
          }

          ion-icon {
            font-size: 30px;
          }
        }

        p {
          width: 70%;
        }
      }

      & + li {
        margin-top: 26px;
      }
    }
  }
}
.title {
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
  color: $body-color;
}

// .sub-link {
//   display: flex;
//   align-items: center;
//   text-decoration: none;
//   color: #808191;
//   padding-left: 10px;
//   margin-top: 15px;
//   p {
//     width: 70%;
//   }
//   .icon {
//     padding: 8px;
//     border-radius: 10px;
//     background-color: $button-bg;
//     flex-shrink: 0;
//     margin-right: 16px;
//     &:hover {
//       color: #fff;
//     }
//     ion-icon {
//       font-size: 20px;
//     }
//   }
//   &:hover,
//   &.is-active {
//     color: #fff;
//     font-weight: 600;

//     &:nth-child(2n + 1) {
//       .icon {
//         background: #ff7551;
//       }
//     }
//     &:nth-child(2n) {
//       .icon {
//         background: #32a7e2;
//       }
//     }
//     &:nth-child(2n + 3) {
//       .icon {
//         background: #6c5ecf;
//       }
//     }
//   }
// }

// .rightArr {
//   @include rightArrow();
//   width: 10px;
//   height: 10px;
//   border-top: 0px;
//   &::before {
//     top: 0;
//     border: $button-bg;
//   }
// }
// .downArr {
//   @include downArrow();
//   width: 10px;
//   height: 10px;
//   border-top: 0px;

//   &::before {
//     top: 0;
//     border: $button-bg;
//   }
// }
