@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";
@import "styles/global";
.root {
  width: 100%;
  @include flex();
  background-color: $theme-bg;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  @include light {
    background-color: $white;
  }
  h1 {
    @include Heading();
    font-family: $font-p;
    font-size: 1.5rem;
    line-height: 50px;
    padding: 2% 0%;
    color: $light-white;
    @include light {
      color: $black;
    }
  }
}
.form {
  width: 100%;
  .container {
    @include flex();
    align-items: flex-start;
    flex-wrap: nowrap;
    column-gap: 3%;
    .column {
      @include flexCol();
      row-gap: 15px;
      &:first-of-type {
        width: 68%;
        .permalink {
          @include flex();
          justify-content: flex-start;
          width: 100%;
          label {
            padding-left: 15px;
            font-size: 0.8rem;
            width: 85px;
            font-family: $font-p;
            font-weight: 700;
            @include dark {
              color: $light-white;
            }
          }
          .link {
            width: 50%;
            input {
              box-shadow: unset;
              color: blue;
              background-color: transparent;
              padding: 0;
            }
          }
        }
      }
      &:last-of-type {
        width: 30%;

        .button-container {
          @include flex();
          column-gap: 15px;
          justify-content: flex-end;
          width: 100%;
        }
      }
    }
  }
}
