@import "styles/variables";
@import "styles/responsive";
@import "styles/mixin";

.root {
  height: 50px;
  @include flex();
  justify-content: flex-start;
}

.checkbox {
  // opacity: 0;
  // position: relative;
  display: none;
}

.label {
  width: 50px;
  height: 26px;
  background-color: $button-bg;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  cursor: pointer;

  @include light {
    background-color: $light-second;
  }
  span {
    color: $white;
    @include light {
      color: $light-primary;
    }
  }
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  z-index: 1;
}

/*  target the elemenent after the label*/

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
